gtts
playsound
python_speech_features
selenium
wolframalpha
SpeechRecognition
black[jupyter]
keras-datasets
bioinfokit
keras
numpy
scipy
sklearn
wheel
nltk
pip-review
tweepy
pydotplus
textblob
graphviz
ipywidgets
opencv-python
opencv-python-headless
scikit-image
tensorflow
imutils
ploomber
sqlparse>=0.5.4 # not directly required, pinned by Snyk to avoid a vulnerability
werkzeug>=3.1.4 # not directly required, pinned by Snyk to avoid a vulnerability
